<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="peanut" type="Peanut.PeanutSection,Peanut"/>
  </configSections>
  <connectionStrings>
    <add name="Peanut.TestApp.Properties.Settings._51urlsConnectionString" connectionString="Data Source=WIN-N8L2B1U5EQV\SQLEXPRESS;Initial Catalog=51urls;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <peanut>
    <Connection>
      <add name="0" type="Peanut.MSSQL,Peanut" connectionstring="Data Source=WIN-N8L2B1U5EQV\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;"/>
      <add name="1" type="Peanut.OracleDriver,Peanut.TestApp" connectionstring="user id=DEV_CURD;data source=ORCL;password=cn100"/>
      <add name="2" type="Peanut.MySqlDriver,Peanut.TestApp" connectionstring="server=localhost;user id=root; password=; database=northwind; pooling=false"/>
    </Connection>
    <Assembly>
      <clear/>
    </Assembly>
  </peanut>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
